
/*desktop app*/
@media screen and (min-width: 1301px) {
	body{
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	}
	li{
		width: 30%;
	}
	#restaurants-list{

	}
}

/*ipad*/
@media screen and (min-width: 554px) and (max-width: 1300px) {
	body{
	
	}
	li{
		width: 45%;
	}
}


/*iphone6*/
@media screen and (max-width: 553px) {
	.filter-options{
	align-items: flex-start;
  	display: flex;
  	flex-direction: column;	
	}

	.filter-options h2{
		align-self: stretch;
	}
	.filter-options select{
		align-self: center;
	}
}




/*notes:
container 
display: flex
flex-wrap: wrap*/